h1 {
  text-align: center;
}
/* #phone {
  text-align: left;
} */

/* a:link,
a:visited {
  /* background-color: red; */
/* color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

a:hover,
a:active {
  background-color: greenyellow;
} */
